.link {
    display: inline-flex;
    align-self: flex-start;
    cursor: pointer;
    font-family: $monument;
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    transition: text-underline-offset .22s;
       
    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.275rem;
    }    
}

.link--no-underline {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.1rem;
    }
}

.btn {
    display: inline-flex;
    align-self: flex-start;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: color .4s, background .4s;
    &:hover {
        text-decoration: none;
    }

    &--primary {
        background-color: $black;
        color: $white;
        border: 1px solid $black;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
    
    &--secondary {
        background-color: $white;
        color: $black;
        border: 1px solid $black;
        &:hover {
            background-color: $black;
            color: $white
        }
    }
}

.cta {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-decoration: none;
    text-underline-offset: 0.3rem;

    &:hover {
        text-decoration: underline;
    }
}