div.footer__mask {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: -1px;
  color: $black;

  svg.mask {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.footer {
  margin: 0;
  padding: 2rem;
  width: 100%;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include breakpoint($laptop) {
    display: grid;
    padding-left: 4rem;
    padding-right: 4rem;
    gap: unset;
    row-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "logo logo logo"
      "logo logo logo"
      ". . ."
      ". . ."
      "social . ."
      ". . ."
      "links links newsletter"
      "links links newsletter"
      "links links credits";
  }

  &__logo {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    @include breakpoint($laptop) {
      grid-area: logo;
      place-self: center;
      width: 66%;
      max-width: 850px;
      height: 100%;
      padding: 0;
    }
    
    svg.logo {
      margin: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  
  &__links {
    width: 100%;
    @include chivo-variable(350);

    @include breakpoint($laptop) {
      grid-area: links;
      align-self: start;
    }
    
    .links {
      width: 100%;
      display: grid;
      grid-template-rows: repeat(auto, 1fr);
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
    }
  }

  &__newsletter-signup {
    padding-bottom: 2rem;
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include breakpoint($laptop) {
      grid-area: newsletter;
      padding: 0;
    }

    .form-header {
      @include chivo-variable(350);
      text-transform: uppercase;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      width: 100%;

      input {
        width: 100%;
        padding: 1rem;
        border: 1px solid $white;
        background-color: $white;
        color: $black;
        @include chivo-variable(350);
        font-size: 1rem;
        letter-spacing: 0.01em;
        &::placeholder {
          color: $black;
        }
      }

      button {
        font-family: $monument;
        color: $white;
        text-decoration: underline;
        text-align: left;
        font-size: 1rem;
        letter-spacing: 0.01em;
        padding: 0;
        background-color: transparent;
        border: none;
      }

      .success-message {
        @include chivo-variable(350);
      }
    }
    
  }

  &__social {

    @include breakpoint($laptop) {
      grid-area: social;
      justify-self: start;
    }
        
    .social-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      gap: 1.5rem;
    }
  
    svg {
      display: block;
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  &__credits {
    padding-top: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @include chivo-variable(350);
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    color: $white;
    text-align: center;

    @include breakpoint($laptop) {
      display: block;
      padding: 0;
      grid-area: credits;
      align-self: start;
      text-align: left;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }
}