.ask-jelly-form {
  width: 100%;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    text-align: left;


    label {
      @include visually-hidden;
    }

    input, textarea {
      width: 100%;
      padding: 1rem 1rem 1rem 1.5rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: 0;
      background-color: $black;
      color: $white;
      @include chivo-variable(350);
      font-size: 1rem;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;

      &::placeholder {
        color: $white;
      }
    }

    #name {
      -webkit-mask-image: url('/assets/svg/askjelly--name.svg');
      mask-image: url('/assets/svg/askjelly--name.svg');
    }

    #email {
      -webkit-mask-image: url('/assets/svg/askjelly--email.svg');
      mask-image: url('/assets/svg/askjelly--email.svg');
    }

    #message {
      -webkit-mask-image: url('/assets/svg/askjelly--message.svg');
      mask-image: url('/assets/svg/askjelly--message.svg');
    }

    textarea {
      min-height: 14rem;
    }

    button {
      align-self: flex-start;
      padding: 0;
      padding-left: 0.175rem;
      border: none;
      background: none;
      font-size: 1rem;
      color: $black;
    }

    .success-message {
      @include chivo-variable(350);
    }
  }
}