.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; 
  overflow: hidden;
}

.newsletter-popup {
  position: relative;
  margin: 1.25rem;
  // max-width: 625px;
  // width: 95vw;
  // height: 50vh;
  
  width: 95vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $black;
  
  @include breakpoint($tablet - 200px) {
    width: 600px;
    height: 450px;
  }
  
  @include breakpoint($laptop) {
    width: 700px;
    height: 540px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/assets/svg/flower.svg') no-repeat center center;
    background-size: contain;
    z-index: -1;
    animation: flower-animation 0.83s cubic-bezier(.31,.62,.5,1.1)
  }
  
  form {
    width: 65%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    opacity: 0;
    animation: form-fade-in 1s ease-in-out 0.83s forwards;
    
    @include breakpoint($laptop) {
      gap: 1rem;
      padding: 1rem 2rem;
      width: 85%;
      align-items: flex-start;
    }
    
    .signup-form__intro {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.175rem;
      
      @include breakpoint($tablet) {
        gap: 0.75rem;
      }
      
      
      .headline, .subheadline {
        font-family: $syne;
        line-height: 1.2;
      }
      
      .headline {
        position: relative;
        font-size: clamp(1.125rem, 4vw, 3.25rem);
        text-transform: uppercase;
        white-space: nowrap;
        
        .close-button {
          background: none;
          border: none;
          cursor: pointer;
          color: $black;
          font-size: 0.875rem;
        
          position: absolute;
          z-index: 10;
          top: -14px;
          right: -25px;
        
          opacity: 0;
          animation: form-fade-in 1s ease-in-out 0.83s forwards;
          transition: all 0.33s ease;
        
          @include breakpoint($tablet) {
            font-size: 1rem;
          }
        
          @include breakpoint($laptop) {
            font-size: 1.25rem;
          }

          &:hover {
            transform: rotate(180deg);
          }
        }
      }
      
      .subheadline {
        font-size: clamp(0.8rem, 4vw, 2rem);
        text-transform: lowercase;
        padding-bottom: 1rem;
      }
    }

    .signup-form__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      @include breakpoint($laptop) {
        gap: 1rem;
      }

      input {
        width: 85%;
        @include chivo-variable();
        font-size: 0.875rem;
        padding: 0.5rem;
        color: $black;
        background-color: $white;
        border: none;
        border-radius: 0;
        border-radius: none;
        text-align: center;
        
        &::placeholder {
          color: $black;
        }
        
        @include breakpoint($laptop) {
          width: 75%;
          font-size: 1rem;
          padding: 0.75rem 1rem;
        }
      }
      
      button.link {
        padding: 0;
        @include chivo-variable();
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        color: $black;
        background: none;
        border: none;
        cursor: pointer;
        align-self: center;
      }
    }
  }
  
  .success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 85%;
    padding: 4rem;
    text-align: center;
    
    @include breakpoint($laptop) {
      gap: 1.5rem;
    }


    .headline {
      font-family: $syne;
      font-size: clamp(1.5rem, 4vw, 3.25rem);
      line-height: 1.15;
      max-width: 500px;
    }
    
    .subheadline {
      @include chivo-variable();
      font-size: clamp(0.875rem, 4vw, 1.25rem);
      line-height: 1.35;
    }
  }


}
