@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Zaft2 C';
    src: url('/assets/fonts/WTZaft2VariableC.ttf') format('truetype-variations');
    font-style: normal;
    font-weight: 0 400;
  }
  @font-face {
    font-family: 'Zaft2 B';
    src: url('/assets/fonts/WTZaft2VariableB.ttf') format('truetype-variations');
    font-style: normal;
    font-weight: 0 400;
  }
  @font-face {
    font-family: 'Zaft2 A';
    src: url('/assets/fonts/WTZaft2VariableA.ttf') format('truetype-variations');
    font-style: normal;
    font-weight: 0 400;
  }
  @font-face {
    font-family: 'EH Normal Light';
    src: url('/assets/fonts/EHNormal-Light.woff2') format('woff2'),
      url('/assets/fonts/EHNormal-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: 'EH Normal Regular';
    src: url('/assets/fonts/EHNormal-Regular.woff2') format('woff2'),
      url('/assets/fonts/EHNormal-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'EH Normal Bold';
    src: url('/assets/fonts/EHNormal-Bold.woff2') format('woff2'),
      url('/assets/fonts/EHNormal-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Tex Gyre Heros Condensed';
    src: url('/assets/fonts/TexGyreHerosCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
};

body {
  @apply overflow-x-hidden antialiased;
}

.btn-red {
  @apply inline-flex items-center w-fit justify-center px-4 py-2 bg-revolve-red text-copy-paper text-sm uppercase font-sans-bold border-revolve-red border-2 rounded-3xl hover:bg-copy-paper hover:text-revolve-red hover:border-revolve-red hover:ease-in-out transition-all duration-300;
}