.page--about {
  .about__intro {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;

    @include breakpoint($tablet) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      column-gap: 2rem;
    }

    .content {
      justify-self: center;
      padding: 0 2rem;

      .headline {
        font-family: $syne;
        margin: 0;
      }
  
      .subheadline, .copy {
        @include chivo-variable(500);
        font-size: 1.35rem;
        line-height: 1.55;
      }
  
      .copy {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
      }
    }

    .illustration__left {
      justify-self: end;
      width: 6rem;
      height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      
      @include breakpoint($tablet) {
        height: 200px;
      }
  
      &.top {
        align-self: start;
      }
  
      &.middle {
        align-self: center;
      }
  
      &.bottom {
        align-self: end;
      }
  
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    
    .illustration__right {
      justify-self: start;
      width: 6rem;
      height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint($tablet) {
        height: 200px;
      }
  
      &.top {
        align-self: start;
      }
  
      &.middle {
        align-self: center;
      }
  
      &.bottom {
        align-self: end;
      }
  
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}