.page--about {
  .about__intro {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;

    .headline {
      font-family: $syne;
      margin: 0;
    }

    .subheadline, .copy {
      @include chivo-variable(500);
      font-size: 1.35rem;
      line-height: 1.45;
    }

    .copy {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
    }
  }
}