.page--contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;

  .contact__intro {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;

    .headline {
      font-family: $syne;
      margin: 0;
    }

    .copy {
      max-width: 450px;
      font-family: $monument;
      font-size: 1.75rem;
      line-height: 1.45;
      padding-top: 2rem;
    }

    .link.tooltip-container {
      position: relative;
      align-self: center;

      
      .tooltip {
        width: 100%;
        background-color: $black;
        color: $white;
        @include chivo-variable(500);
        text-align: center;
        padding: 0.75rem 1rem;
        position: absolute;
        z-index: 1;
        top: 125%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  
  }
}