@keyframes flower-animation {
  0% {
    scale: 0;
    rotate: 0;
  }
  100% {
    scale: 1;
    rotate: 3turn;
  }
}

@keyframes form-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
      rotate: 0deg;
      // translate: 0 0
  }

  25% {
      rotate: -3.5deg;
      // translate: -6px 0
  }

  80% {
      rotate: 3.5deg;
      // translate: 6px 0
  }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }