section.image {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &--default {
      .image__container {
        position: relative;
        width: 100%;
        max-height: 80vh;
        overflow: hidden;
        aspect-ratio: 4 / 5;

        @include breakpoint($laptop) {
          aspect-ratio: 16 / 9;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
  
        .mask {
            color: $white;
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
        }
      }  
  }

  &--twoColumn {
    .image__container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @include breakpoint($tablet) {
        flex-direction: row;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 4 / 5;
        overflow: hidden;

        @include breakpoint($tablet) {
          width: 50%;
        }
      }
    }
  }
  
  &--threeColumn {
    .image__container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @include breakpoint($tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 4 / 5;
        overflow: hidden;
      }
    }
  }
  
  &--grid {
    .image__container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 4 / 5;
        overflow: hidden;
      }
    }
  }
}